:root {
  --purple: #6464d9;
  --yellow: #fad138;
  --white: #ffffff;
  --blue: #8acfd8;
  --green: #a5eea0;
  --nunito: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: var(--nunito);
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; /* Hide scrollbars */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: calc(3rem + 3vw);
}

header {
  width: 100%;
  height: calc(var(--vh, 1vh) * 15);

  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed;
  z-index: 1;
}

header > nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(20px + 3vw);
  padding: 0 45px;
  border-bottom-left-radius: 50px;

  background-color: var(--purple);
  z-index: 3;
}

header > nav > a {
  text-decoration: none;
  color: var(--white );
  font-weight: 800;
  font-size: calc(0.7rem + 1vw);
}

header > img {
  position: absolute;
  top: calc(var(--vh, 1vh) * 15);
  right: 0;
  z-index: 2;
}


#media {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

#media a {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
}

#media a img#instagram {
  display: flex;
  width: calc(var(--vh, 1vh) * 6);
}

#media a img#at {
  width: calc(var(--vh, 1vh) * 7);
}

#media a img#twitter {
  width: calc(var(--vh, 1vh) * 7);
}

#media a .contact {
  width: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  color: var(--blue);
  font-size: 10pt;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  margin-top: 2px;
}

main {
  border-top-right-radius: 50px;
  z-index: 0;

  width: 100vw;
}

#desktop-1 {
  margin-top: calc(var(--vh, 1vh) * 15);
  height: calc(var(--vh, 1vh) * 85);
  z-index: 0;
}


.slogan {
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogan > .content {
  position: relative;
  top: calc(var(--vh, 1vh) * 15);

  margin-left: 32px;

  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.text > h1 {
  font-size: calc(3rem + 3vw);
  line-height: calc(4rem + 3vw);
}

.content > p {
  width: 75%;

  margin-left: 4px;

  font-size: calc(0.1rem + 2.5vw);
  font-weight: 700;
}

.purple {
  color: var(--purple);
  font-weight: 900;
}

.yellow {
  color: var(--yellow);
  font-weight: 900;
}

.image {
  width: 30vw;
  height: calc(var(--vh, 1vh) * 90);
  display: flex;
  align-items: end;
  justify-content: end;
  z-index: 0;
}

.image > img {
  z-index: 2;
  width: calc(var(--vh, 1vh) * 65);
}

.curve {
  height: calc(var(--vh, 1vh) * 30);
  width: 100vw;
  position: absolute;

  bottom: 0;
}


.banner {
  margin:0;
  background-color: var(--blue);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 60);
  z-index: 0;
}

img#mental-health {
  position: absolute;
  top: calc(var(--vh, 1vh) * 133);
  width: 20vw;
  z-index: 1;
  max-width: 250px;
}

img#knowledge {
  position: absolute;
  right: 2vw;
  max-width: 250px;

  top: calc(var(--vh, 1vh) * 83);
  width: 18vw;
  z-index: 1;
}

.banner > p {
  color: var(--white);
  font-size: calc(1rem + 1.2vw);

  width: 60%;
  text-align: center;
}
.team {
  width: 100%;
  height: calc(var(--vh, 1vh) * 110);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
}

#downcurve {
  position: absolute;
  top: calc(var(--vh, 1vh) * 160)
}

.logo-team {
  width: 37.5%;

  margin-top: 5%;

  display: flex;
}

.the-team {
  margin-top: calc(var(--vh, 1vh) * 10);
  margin-left: 30px;

  width: 70%;
  display: flex;
  flex-direction: column;
}

.the-team > h2 {
  font-weight: 800;
}

.members {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-right: 10px;
}

.member {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.member-photo {
  width: 10vw;
  height: 10vw;

  margin-bottom: 10px;

  border-radius: 150px;

  background-color: var(--blue);
  background-size: cover;
}

.member-photo#caua {
  background-image: url("./assets/caua.jpg");
}

.member-photo#dalila {
  background-image: url("./assets/dalila.jpg");
}

.member-photo#igor {
  background-image: url("./assets/igor.jpg");
}

.member-photo#joao {
  background-image: url("./assets/joao.jpg");
}

.member-photo#mateus {
  background-image: url("./assets/mateus.png");
}
.member-photo#rafao {
  background-image: url("./assets/rafao.jpg");
}

.member-photo#sara {
  background-image: url("./assets/sara.jpg");
}

.member-photo#thauany {
  background-image: url("./assets/thauany.jpg");
}

.member-name {
  font-size: calc(0.5rem + 1vw);
  font-weight: 700;
  text-align: center;
}

.member-role {
  font-weight: 600;
  font-size: calc(0.5rem + 0.9vw);
  text-align: center;
}

#curve-2 {
  top: calc(var(--vh, 1vh) * 270);
  transform: scaleX(-1);
}

.achievements {
  margin-top: calc(var(--vh, 1vh) * 30);
  height: calc(var(--vh, 1vh) * 62);
  width: 100%;
  background-color: var(--blue);
  width: 100vw;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.achievements > h2 {
  font-weight: 800;
  color: var(--white);
}

.achievements > .achContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.achievement {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievement > a > img {
  height: 10vw;
}

.achievement > p {
  width: 40vw;
  font-weight: 500;
  font-size: calc(0.9rem + 0.5vw);
  text-align: center;
  color: var(--white);
  margin-top: 10px;
}

@media only screen and (max-width: 1100px) {
  .achievement > p {
    font-size: calc(1rem + 0.5vw);
  }
}

#downcurve-2 {
  top: calc(var(--vh, 1vh) * 362);
  transform: scaleX(-1);
}

#project {
  margin-top: calc(var(--vh, 1vh) * 15);
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 80);
  justify-content: center;
}

#project div#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#project div#text {
  width: 50vw;
  background-color: var(--green);
  padding: 32px;
  padding-right: 48px;
  border-radius: 0 200px 200px 0;
  color: #f5fefd;
}

#project #text h2 {
  display: flex;
  flex: 1;
  font-weight: 800;
}

#project #text p {
  font-size: calc(1rem + 0.6vw);
  font-weight: 600;
}

#project div#content img {
  width: 50vw;
  z-index: -1;
}

footer {
  width: 100%;
  height: calc(var(--vh, 1vh) * 50);
  z-index: 1;
}

#yellow-curve {
  position: absolute;
  height: 70;
}

#fill {
  z-index: 1;
  margin-top: 70px;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  border-top-right-radius: 70px;
  background-image: url("./assets/stripes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -calc(var(--vh, 1vh) * 10);

  display: flex;
  align-items: center;
  justify-content: center;
}

#fill > h1 {
  margin-top: 35px;
  text-align: center;
  text-shadow: -2px 0 var(--yellow), 0 2px var(--yellow), 2px 0 var(--yellow),
    0 -2px var(--yellow);
  font-size: calc(4rem + 3vw);
  font-weight: 900;
}
