:root {
  --purple: #6464d9;
  --yellow: #fad138;
  --white: #ffffff;
  --blue: #8acfd8;
  --nunito: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--nunito);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 15vh;

  display: flex;
  flex-direction: row;
}

header > nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 75px;
  padding: 24px;
  border-bottom-left-radius: 50px;

  background-color: var(--purple);
  z-index: 1;
}

header > nav > a {
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
}

header > img {
  position: absolute;
  top: calc(15vh - 70px);
  right: 0;
  z-index: 0;
}

main {
  background-color: var(--white);
  border-top-right-radius: 50px;
  z-index: 0;

  width: 98.9vw;
  min-height: 80vh;
}

#desktop-1 {
  height: 85vh;
}

.slogan {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogan > .content {
  position: relative;
  top: 15vh;

  margin-left: 32px;

  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.text > h1 {
  font-size: 90px;
  line-height: 100px;
}

.content > p {
  width: 90%;

  margin-left: 4px;

  font-size: 40px;
  font-weight: 700;
}

.purple {
  color: var(--purple);
  font-weight: 900;
}

.yellow {
  color: var(--yellow);
  font-weight: 900;
}

.image {
  width: 40%;
  height: 90vh;
  display: flex;
  align-items: end;
  justify-content: end;
}

.image > img {
  height: 84vh;
}

.curve {
  height: 30vh;
  width: 100%;
  position: absolute;

  bottom: 0;
}

#media {
  width: 200px;
  right: 2vw;
  bottom: 2vh;
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#media a {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#media a img#instagram {
  margin-top: 7px;
  width: 50px;
}

#media a img#at {
  width: 60px;
}

#media a img#twitter {
  width: 60px;
}

#media a .contact {
  width: 0;
  background-color: white;
  border-radius: 10px;
  color: var(--blue);
  text-align: center;
}

.banner {
  background-color: var(--blue);
  width: 100%;
  height: 50vh;
}

.team {
  width: 100%;
  height: 110vh;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
}

#downcurve {
  position: absolute;
  top: 150vh;
}

.logo-team {
  width: 37.5%;

  margin-top: 5%;

  display: flex;
}

.the-team {
  margin-top: 10vh;
  margin-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.the-team > h2 {
  font-weight: 800;
  font-size: 80px;
}

.members {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.member {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member-photo {
  width: 150px;
  height: 150px;

  margin-bottom: 10px;

  border-radius: 150px;

  background-color: var(--blue);
}

.member-name {
  font-size: 14pt;
  font-weight: 700;
}

.member-role {
  font-weight: 600;
  font-size: 12pt;
}

footer {
  width: 100%;
  height: 50vh;
}

#yellow-curve {
  position: absolute;
  height: 70;
}

#fill {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  border-top-right-radius: 70px;
  background-image: url("./assets/stripes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#fill > h1 {
  margin-top: 35px;
  text-align: center;
  text-shadow: -2px 0 var(--yellow), 0 2px var(--yellow), 2px 0 var(--yellow),
    0 -2px var(--yellow);
  font-size: 60pt;
  font-weight: 900;
}
